.device-container {
    padding: 104px;
}

.device-content {
    width: 100%;
}

.device-filters {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    background-color: #2d2c2c;
    padding: 20px;
    border-radius: 10px;
}

.search-input,
.category-select,
.price-input {
    padding: 8px;
    border: 3px solid #2bcc91;
    border-radius: 10px;
}

.search-input {
    width: 40%;
    margin-right: 400px;
}
.category-select {
    width: 20%;
    background-color: #2bcc91;
}

.price-input {
    width: 120px;
}

.device-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.device-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.device-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.device-category {
    color: #555;
}

.device-price {
    color: gray;
    font-weight: bold;
}

.device-link {
    text-decoration: none;
}

.device-button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #2d2c2c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.device-button:hover {
    background-color: #2bcc91;
}
